/****
Geral
****/
body{
    margin:0;
    padding:0;
    font-size: 100%;
    background-color: #a170d9;
    font-family: 'Lato', Arial, Verdana;
    align-items: center;
    display: flex;
    flex-direction: column;


}
.purpleBG{
    background-color: #8a59c2;
}
/****
Header
****/
img.drica{
    border-radius: 100%;
    width: 100px;
}
header{
    width:100%;
    height: 120px;
    background-color: #6e09e2;
    padding:0.5em;
    text-align: center;
    color:#FFFFFF;
    align-items: center;
    display: flex;
    justify-content: space-around;
}
.placar{
    font-size: 1.2em;
}
.pontos{
    color: chartreuse;

}
.tentativas{
    color: antiquewhite;

}
.atual{
    font-size: 1.5em;
}
button#jogarNovamente{
    font-size: 1.5em;
    border-radius: 5px;
    background-color: #d9009d;
    color: white;
    padding:0.5em;
    border-color: #d9009d;
}
button#jogarNovamente:hover{
    cursor:pointer;
    background-color: #a170d9;
    border-color: #a170d9;
}
button#jogarNovamente.desativada{
    background-color: #CCCCCC;
    cursor: none;
    border-color: #CCCCCC;
}
/****
Jogo
****/
.cartas {
    height: 30vh;
    width: 15vw;
    display: flex;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
main {
    align-items: center;
    background-color: rgba(111, 11, 11, 0.8);
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    grid-auto-rows: minmax(auto);
    height: calc(100vh - 50px);
    justify-items:center;
    width: 80%;
}
